.owl-carousel{
	margin: 0;
	.owl-stage{
		@media (max-width: 768px){
			flex-direction: column;
		}
	}
	.owl-item{
		@media (max-width: 768px){
			margin: 10px 0;
		}
	}
}

.wpcf7{
	@media (max-width: 994px){
		margin-top: 30px !important;
	}
}

.lines, .lines:after, .lines:before {
    background-color: rgb(255, 2, 139);
}

#header #header-wrap{
	border-bottom: 1px solid #000;
	#logo a>img{
		height: 68px;
	}
}

#header.header-static #header-wrap{
	background: #000;
}

.est{
	line-height: 10px;
    font-size: 9px;
    top: 68px;
    padding-left: 20px;
    position: absolute;
    color: #fff;
}